@model TaskManager.Models.ViewModels.TaskViewModel

@using (Html.BeginForm("AddNewTask", "Task", FormMethod.Post))
{
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label for="Name">Name</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label for="Priority">Priority</label>
        @Html.TextBoxFor(m => m.Priority, new { @class = "form-control" })
        <span asp-validation-for="Priority"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

}
