@{
    ViewBag.Title = "Welcome";
}

<div class="row">
    <div class="col-3">
    <div class="card">
        <div class="card-body">
            <div class="col-6">
                <span><h4>@ViewBag.Count</h4> Tasks Assigned To You</span>
            </div>
            <div class="col-6">
                <i class="bi bi-list-task"></i>
            </div>
        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <div class="card-body">
            This is some text within a card body.
        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <div class="card-body">
            This is some text within a card body.
        </div>
    </div>
</div>
<div class="col-3">
    <div class="card">
        <div class="card-body">
            This is some text within a card body.
        </div>
    </div>
</div>
</div>

